body {
  background-color: mintcream;
}

.flex {
  display: flex;
}

header {
  position: relative;
  background-color: rgb(242, 179, 179);
  color: white;
}
header .logo {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
header ul {
  display: flex;
  margin: 0;
  padding: 0;
}
header ul li {
  list-style-type: none;
  padding: 10px;
  width: 70px;
  text-align: center;
}
header ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}
header ul li a:hover {
  font-weight: 700;
  color: white;
}
header input {
  border: none;
  border-radius: 2px;
  height: 35px;
  width: 200px;
  background-image: url(../images/search-heart.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: 165px;
  background-position-y: center;
  padding: 10px;
  padding-right: 20px;
}
header input:focus-visible {
  outline: rgb(242, 179, 179) auto 1px;
  outline-color: rgb(242, 179, 179);
}
header label {
  display: none;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
}
header label span {
  background: #fff;
  border-radius: 10px;
  height: 3px;
  margin: 2px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
header span:nth-of-type(1) {
  width: 50%;
}
header span:nth-of-type(2) {
  width: 100%;
}
header span:nth-of-type(3) {
  width: 75%;
}
header input[type=checkbox] {
  display: none;
}
header input[type=checkbox]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(16px, -1px);
}
header input[type=checkbox]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
header input[type=checkbox]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(2px, -13px) rotatez(45deg);
}

.arrow-top {
  position: fixed;
  bottom: 10%;
  right: 5%;
  border-radius: 50%;
  opacity: 0;
  background-color: rgb(242, 179, 179);
  z-index: 100000;
}
.arrow-top svg {
  width: 45px;
  height: auto;
  color: white;
}

.arrow-show {
  opacity: 1 !important;
}

.home {
  padding: 50px 0;
}
.home .block {
  position: relative;
  overflow: hidden;
}
.home .block img {
  flex: 1;
  width: 100%;
  background-size: cover;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: transform 0.4s;
}
.home .block p {
  margin-top: 20px;
}
.home .block p span {
  color: rgb(242, 179, 179);
  font-weight: 700;
}
.home .block .like {
  position: absolute;
  top: 195px;
  left: 107px;
  opacity: 0;
}
.home .block .like svg {
  width: 23px;
  height: auto;
}
.home .block .red-like {
  color: red;
}
.home .block:hover img {
  opacity: 0.4;
  transform: scale(1.06);
  transition: transform 0.4s;
}
.home .block:hover .like {
  opacity: 1;
}

.about {
  display: flex;
  font-size: 20px;
  font-style: italic;
  font-family: serif;
}

footer {
  background-color: black;
  color: white;
  padding: 100px 0;
  margin-top: 100px;
}
footer ul {
  margin: 0;
  padding: 0;
  padding-right: 120px;
}
footer ul li {
  list-style-type: none;
  padding-bottom: 16px;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  padding-right: 30px;
}
footer ul li a svg {
  width: 20px;
  height: auto;
}
footer ul li a:hover {
  color: rgb(242, 179, 179);
}

@media only screen and (max-width: 768px) {
  header label {
    display: flex;
  }
  header .menu {
    display: none;
  }
  header .menu-show {
    position: absolute;
    top: 55px;
    right: 0;
    width: 240px;
    display: block;
    background-color: rgb(242, 179, 179);
    color: #fff;
    padding: 20px;
    z-index: 100;
  }
  header ul.menu-show {
    padding-top: 70px;
  }
}/*# sourceMappingURL=style.css.map */